<div class="form">
  <div class="container">
    <div class="form-heading">
      <h1><%= current_user.user_name %> アカウント</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-body users-form">
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <p><%= message %></p>
      </div>
    <% end %>

       <div class="field">
        <p>ユーザ名</p>
        <%= f.text_field :user_name %>
      </div>

      <div class="field">
        <p>プロフィール画像</p>
        <%= f.file_field :avatar %>
      </div>

      <div class="field">
        <p>メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </div>

      <div class="field">
        <p>変更後のパスワード</p>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

       <div class="field">
        <p>現在のパスワード</p>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions submit-wrapper">
        <%= f.submit "Update" %>
      </div>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>















<!-- <div class="form users-new">
  <div class="container">
    <div class="form-heading">
      <h1>編集</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
      </div>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>


      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  </div>
</div>

 -->
