<div class="user">
  <div class="profile">
    <%= image_tag @user.avatar.url, class: "profile-image" %>
    <div class="profile-name">
      <%= @user.user_name %>
    </div>
    <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to "プロフィールを編集する", edit_user_registration_path %>
    <% end %>
  </div>
</div>

<ul class="post-menu">
  <li><%= link_to "最近の記事", @user %>
  <li class="active"><%= link_to "いいねした記事", user_likes_path(@user) %>
</ul>

<div class="posts">
  <div class="container">
    <div class="index">
      <% @likes.each do |like| %>
        <% post = Post.find(like.post_id) %>
        <%= render partial: "/posts/posts", locals: {post: post} %>
      <% end %>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <%= paginate(@likes) %>
</div>
