<div class="user">
  <div class="profile">
    <%= image_tag @user.avatar.url, class: "profile-image" %>
    <div class="profile-name">
      <%= @user.user_name %>
    </div>
    <!-- ユーザがログインしており、なおかつユーザ詳細ページのユーザとログイン中のユーザが一致している場合のみプロフィール編集リンクを表示 -->
    <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to "プロフィールを編集する", edit_user_registration_path %>
    <% end %>
  </div>
</div>

<ul class="post-menu">
  <li class="active"><%= link_to "最近の記事", @user %>
  <li><%= link_to "いいねした記事", user_likes_path(@user) %>
</ul>

<div class="posts">
  <div class="container">
    <div class="index">
      <!-- 配列@postsから各postインスタンスを順に取り出し、部分テンプレートの_postsファイルに変数postとして渡し、表示する -->
      <% @posts.each do |post| %>
        <%= render partial: "/posts/posts", locals: {post: post} %>
      <% end %>
    </div>
  </div>
</div>

<!-- ページネーションを表示 -->
<div class="page-wrapper">
  <%= paginate(@posts) %>
</div>
