<div class="form login">
  <div class="container">
    <div class="form-heading">
      <h1>Piitaへログイン</h1>
      <p>ログインして利用を開始しましょう！</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-body login">
      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
      </div>


      <div class="actions" class="submit-wrapper">
        <%= f.submit "Sign in" %>
      </div>
    </div>
    <% end %>

<%= render "devise/shared/links" %>

 </div>
</div>


