<!-- 投稿の保存に失敗した際に、エラーメッセージを表示する -->
<% @post.errors.full_messages.each do |message| %>
  <div class="form-error post-error" >
    <p><%= message %></p>
  </div>
<% end %>

<div class="content">
  <%= form_for @post do |f| %>
    <!-- タイトル入力欄 -->
    <div class="post-title">
      <%= f.text_field :title, class: "title-area", placeholder: "タイトル" %>
    </div>
    <div class="wrapper" id='editor'>
      <!-- 本文入力欄 -->
      <div class="editor-wrapper">
        <div class="editor-header">本文</div>
          <textarea class="editor" name="post[body]" v-model='input' debounce='100'><%= @post.body %></textarea>
      </div>
      <!-- プレビュー表示欄 -->
      <div class="preview-wrapper">
        <div class="preview-header">プレビュー</div>
          <div class="preview" v-html='input | marked'></div>
      </div>
    </div>
  <%= f.submit "編集する", class: "post-btn"%>
  <% end %>
</div>

<!-- textareaで入力された値をdiv class="preview"にリアルタイムで出力する -->
<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @post.body %>',
      },
      filters: {
        marked: marked,
      },
    });
  };

// htmlをリアルタイムに出力する際にエスケープ処理と改行を有効にする
  marked.setOptions({
    sanitize: true,
    breaks: true,
  });
</script>
